@import './styles/partials/breakpoints';
@import './styles/partials/variables';

.root {
    padding: 0;
    margin: 0;
    width: 100%;

    button {
        color: $gray-100;
        background: $gray-900;
        font-size: .9em;
        font-weight: bold;
        width: 100%;
        padding: .7em;
        border: none;
        border-radius: 3px;

        &[disabled] {
            color: $gray-300;
            background: $gray-500;
        }
    }
}
