@import '../styles/partials/breakpoints';
@import '../styles/partials/variables';

.root {
    padding: 1em;
    background: $gray-800;
    color: $gray-500;
    
    .wrapper {
        margin: 0 auto;
        width: 1200px;
    }

    @include breakpoint(lg-down) {
        .wrapper {
            width: 100%;
        }
    }
}
