@import './styles/partials/breakpoints';
@import './styles/partials/variables';

.root {
    .wrapper {
        margin: 0 auto;
        width: 1200px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        article {
            width: 49%;
            height: 43em;
            margin: 1% 0;
        }
    }

    @include breakpoint(lg-down) {
        .wrapper {
            width: 100%;
            flex-direction: column;

            article {
                width: 100%;
                height: auto;
                margin: 3% 0;
            }
        }
    }
}
